*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container{
    margin-top: 100px;
}


h1{
    margin-left: 70px;
    margin-bottom: 40px;
}

button{
    margin-left: 20px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

input{
    border-radius: 10px;
}

#allTask{
    font-size: 20px;
    margin-left: 20px;
}