*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container{
    padding: 20px;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 10px;
    /* background-color:aqua; */
}
.box{
    background-color: rgb(142, 142, 239);
    border: 3px solid black;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}    

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1{
    grid-column: 2/4;
}

.footer{
    grid-column: 1/4;
}